h1 {
    color: pink;
    background-color: aquamarine;

}
h5 {
      color:pink;
      background-color:aquamarine;
}
button {
         color: pink;
}
body {
       background-color: blueviolet;
}